# Creating Combinations for Current, Time and Voltage

# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import itertools

# Reading ranges file

In [2]:
ranges = pd.read_excel("Ranges of New Inconel Grade.xlsx", skiprows =1)

In [3]:
ranges

,Unnamed: 0,Unnamed: 1,Max IP (Amp),Min IP (Amp),Max Ton (µS),Min Ton (µS),Max Toff (µS),Min Toff (µS),Max Voltage (Volts),Min Voltage (Volts)
0,Inconel 188,Inconel 800,220,100,1.25,0.35,27,7,80,20
1,Inconel 230,Inconel 625,120,5,500.00,10.00,100,30,90,5
2,Inconel 713 C,Inconel 625,120,5,500.00,10.00,100,30,90,5
3,Inconel 751,Inconel X-750,170,8,500.00,100.00,2000,37,100,20
4,Inconel 792,Inconel 800,220,100,1.25,0.35,27,7,80,20
5,Inconel 907,Inconel 800,220,100,1.25,0.35,27,7,80,20
6,Inconel 909,Inconel 800,220,100,1.25,0.35,27,7,80,20
7,Inconel 925,Inconel 800,220,100,1.25,0.35,27,7,80,20

# Creating Combinations for Inconel 792, 907, 909, 925

In [4]:
# Creating list of values of Current

amp = list(range(100,225, 5)) # Start value 100, End Value 225, Increment of 5
print(amp)

[100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220]

In [5]:
# Creating list of values of Time(on)

t = np.arange(0.35, 1.26, 0.1)
ton = []

for i in t:
    ton.append(round(i,2))
print(ton)

[0.35, 0.45, 0.55, 0.65, 0.75, 0.85, 0.95, 1.05, 1.15, 1.25]

In [6]:
# Creating list of values of Time(off)

toff = list(range(7,28,2))
print(toff)

[7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]

In [7]:
# Creating list of values of Voltage

volt = list(range(20,81,5))
print(volt)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80]

# Creating product combinations of all 4 parameters

In [8]:
comb = list(itertools.product(amp,ton,toff, volt))

In [9]:
in792 = pd.DataFrame(comb, columns = ["Amp", "Ton", "Toff", "Volt"])

# First 10 rows of combination file

In [10]:
in792.head(10)

   Amp   Ton  Toff  Volt
0  100  0.35     7    20
1  100  0.35     7    25
2  100  0.35     7    30
3  100  0.35     7    35
4  100  0.35     7    40
5  100  0.35     7    45
6  100  0.35     7    50
7  100  0.35     7    55
8  100  0.35     7    60
9  100  0.35     7    65

# Last 10 rows of combination file

In [11]:
in792.tail(10)

       Amp   Ton  Toff  Volt
35740  220  1.25    27    35
35741  220  1.25    27    40
35742  220  1.25    27    45
35743  220  1.25    27    50
35744  220  1.25    27    55
35745  220  1.25    27    60
35746  220  1.25    27    65
35747  220  1.25    27    70
35748  220  1.25    27    75
35749  220  1.25    27    80

# Laslty each combination file was saved in csv format

Note: Same code was repeated for the rest of the Inconel Grades